<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344009577378-ogllqncbvblrr46aaditmnc4b9eprmj9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344009577378-ogllqncbvblrr46aaditmnc4b9eprmj9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>344009577378-283i0s6o9qdtvg5od4q2i036qt6rhnes.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzJrkJJKGBgAiIXSkXepcvyE-4-qKxllU</string>
	<key>GCM_SENDER_ID</key>
	<string>344009577378</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.darazcloneapp.darazCloneApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-firebase-pr</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-firebase-pr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344009577378:ios:a7bf7998bcbe344b0498fb</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-firebase-pr-default-rtdb.firebaseio.com</string>
</dict>
</plist>